@media (max-width: 600px) { 
  body {
      font-family: 'Arial', sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  
    }
    iframe {
      display: block;
      margin: 10px auto; /* Wyśrodkowano obraz i zwiększono odstęp */
      max-width: 90%;
      object-fit: contain;
    }
    
    h1 {
      text-align: center;
      font-size: 22px;
    }
  
    p {
      margin-left: 5%;
      margin-right: 5%;
      font-size: 15px; /* Zwiększenie rozmiaru czcionki dla paragrafu */
      text-align: justify;
      text-justify: inter-word;
      line-height: 1.5;
    }
    
    img {
      display: block;
      margin: 10px auto; /* Wyśrodkowano obraz i zwiększono odstęp */
      max-width: 90%;
      object-fit: contain;
    }
  
    header {
      background-color: #333;
      color: #fff;
      padding: 10px;
      text-align: center;
    }
  
    nav {
      display: flex;
      background-color: #eee;
      padding: 5px;
    }
  
    nav a {
      text-decoration: none;
      text-align: center;
      color: #333;
      padding: 5px 5px;
      border-radius: 5px;
      cursor: pointer;
      margin:auto;
      
    }
  
    nav a:hover {
      background-color: #ddd;
    }
  
    nav a.selected {
      font-weight: bold;
    }
  }

  @media (min-width: 600px) {
    body {
      font-family: 'Arial', sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  
    }
    
    iframe {
      display: block;
      margin: 20px auto; /* Wyśrodkowano obraz i zwiększono odstęp */
      max-width: 100%;
      max-height: 70%;
    }
    
    h1 {
      text-align: center;
    }
  
    p {
      margin-left: 30%;
      margin-right: 30%;
      font-size: 16px; /* Zwiększenie rozmiaru czcionki dla paragrafu */
      text-align: justify;
      text-justify: inter-word;
      line-height: 1.5;
    }
    
    img {
      display: block;
      margin: 20px auto; /* Wyśrodkowano obraz i zwiększono odstęp */
      max-width: 100%;
      max-height: 70%;
    }
  
    header {
      background-color: #333;
      color: #fff;
      padding: 10px;
      text-align: center;
    }
  
    nav {
      display: flex;
      justify-content: center;
      background-color: #eee;
      padding: 10px;
    }
  
    nav a {
      text-decoration: none;
      color: #333;
      padding: 10px 20px;
      margin: 0 10px;
      border-radius: 5px;
      cursor: pointer;
    }
  
    nav a:hover {
      background-color: #ddd;
    }
  
    nav a.selected {
      font-weight: bold;
    }
  }